ideas/
.vscode/
vault/
includes/Json/nlohmann/
todo

*.com
*.class
*.dll
*.exe
*.o
*.so
*.json

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

ideas/
.vscode/
vault/
includes/Json/nlohmann/

*.com
*.class
*.dll
*.exe
*.o
*.so
*.json

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db